function TowerBuilder.run 2
push constant 250
pop static 0
push constant 25
pop static 1
push constant 128
push static 1
call Math.divide 2
push constant 1
add
call Tower.new 1
pop static 2
push constant 256
push static 1
sub
pop local 1
call TowerBuilder.showHint 0
pop temp 0
call TowerBuilder.printScore 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call TowerBuilder.createNewBlock 1
pop local 0
push local 0
call Block.draw 1
pop temp 0
label IF_FALSE0
push local 0
call Block.moveX 1
pop temp 0
call Keyboard.keyPressed 0
push constant 32
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 2
push local 0
call Tower.putBlock 2
pop temp 0
push static 3
push constant 1
add
pop static 3
call TowerBuilder.printScore 0
pop temp 0
push static 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call TowerBuilder.hideHint 0
pop temp 0
label IF_FALSE2
push static 3
push static 2
call Tower.getThresholdCount 1
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push static 1
sub
pop local 1
label IF_FALSE3
push constant 0
pop local 0
push constant 200
call Sys.wait 1
pop temp 0
label IF_FALSE1
push constant 2
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function TowerBuilder.createNewBlock 0
push static 3
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
push static 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push argument 0
push constant 1
push static 0
push static 1
call Block.new 5
return
label IF_FALSE0
push constant 512
push static 0
sub
push argument 0
push constant 1
neg
push static 0
push static 1
call Block.new 5
return
function TowerBuilder.updateWidth 0
push argument 0
pop static 0
push constant 0
return
function TowerBuilder.showHint 1
push constant 28
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
pop local 0
push constant 10
push constant 18
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function TowerBuilder.hideHint 1
push constant 29
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 0
push constant 10
push constant 17
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function TowerBuilder.showGameOver 0
call Screen.clearScreen 0
pop temp 0
push constant 10
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 3
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function TowerBuilder.printScore 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 3
call Output.printInt 1
pop temp 0
push constant 0
return
